@charset "ISO-8859-1";
*
{
	padding:0;
	margin:0;
}

body
{
	width:100%;
	height: 100%;
		
}

.page
{
	width:100%;
	height: 100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.opzioni
{
	width:70%;
	display:flex;
	flex-direction:column;
	border: 1px solid black;
	border-radius:10px;
}

.opzione
{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding:20px;
	box-sizing: border-box; /*metodo per far includere nel calcolo del border anche i valori del padding così che i bottoni non fuoriescono*/
	border-bottom:1px solid black;
}

#ultimo
{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding:20px;
	box-sizing: border-box; /*metodo per far includere nel calcolo del border anche i valori del padding così che i bottoni non fuoriescono*/
	
}

input[type=submit]
{
	height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404C5D 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B, 
               5px  5px 15px #41465B, 
    inset      5px  5px 10px #212121, 
    inset     -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B, 
               5px  5px 15px #41465B, 
    inset      5px  5px 10px #212121, 
    inset     -5px -5px 10px #212121;
}

input[type=submit]:hover
{
  -webkit-box-shadow: 1px 1px 13px #20232e,
                    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
             -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

input[type=submit]
{
	-webkit-box-shadow: 1px 1px 13px #20232e,
                     -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
             -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

input[type=text]
{
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

input[type=text]:focus
{
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

@media screen and (max-width:1000px)
{
	h1
	{
		font-size:50px;
	}
	
	.opzioni
	{
		width:90%;
	}
	h2
	{
		font-size:45px;
	}
	
	h3
	{
		font-size:40px;
	}
	.opzione
	{
		align-items:center;
	}
	form
	{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	input[type=submit]
	{
		font-size:35px;
		width:200px;
		height:70px;
	}
	input[type=text]
	{
		font-size:25px;
	}
}