*{
	margin: 0;
	padding: 0;
}

.Hidden{
	visibility: hidden;
	display: none;
	pointer-events: none;
	width: 0 px;
	height: 0px;
}

.container0{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container1{
	width: 30%;
	margin-top: 1%;
	margin-bottom: 3%;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.regAddrs{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
}

.regA{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	padding: 15px 25px;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.addrContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.default{
	padding: 10px;
	margin-bottom: 10px;
	background-color: lightgray;
	border-radius: 10px;
}

.addrText{
	margin-left: 5%;
}
.addrButtons{
	display: flex;
	flex-direction: column;
	width: 25%;
}
.sndBttn{
	padding: 10px 5px;
	background-color:#222222;
	color: white;
	border-radius: 10px;
	width: 100%;
	transition: transform 0.3s;
}

.sndBttn:hover {
 	transform: scale(1.1);
 	cursor: pointer;
}

.mdfBttn, .rmBttn{
	margin-top: 5px;
	padding: 3px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	cursor: pointer;
	width: 100%;
}

.forumDiv{
	margin-bottom: 5%;
}

.addr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.addrFirst{
	width: 60%;
}

.addrSecond{
	width: 30%;
}

.containerCheckbox{
	display: flex;
	flex-direction: row;
	margin-bottom: 3%;
}

.checkboxDiv{
	width: 10%;
}

.pdiv{
	width: 85%;
}

.required::after{
	color: red;
	content: ' *';
}

h3{
	margin-bottom: 7%;
}

input[type=text]{
	margin-top: 3%;
	margin-bottom: 6%;
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid black; 
	border-radius: 5px 5px 3px 3px;
}

.inputAddrShow{
	display: flex;
	flex-direction: column;
}

#inputAddr select{
	margin: 0;
	margin-bottom: 10px;
	margin-top: 1%;
	width: 100%;
	padding: 9px;
	background-color: transparent;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 5px;
}

.buttonShow{
	border: none;
	padding: 15px 30px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.showError{
	background-color: #fddcd8;
}