@charset "ISO-8859-1";

*
{
	padding:0;
	margin:0;
}

body
{
	width:100%;
	height:100%;
	align-items:center;
}

.page
{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.title
{
	width:75%;
}

div.prodotto
{
	width:75%;
	display:flex;
	flex-direction:column;
	
	
}

.informazione_ordine
{
	width:100%;
	margin-top: 15px;
	display: flex;
	justify-content:space-between;
	flex-direction:row;
	background-color: lightblue;
	padding: 20px;
	border: 1px solid black;
	border-bottom:none;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.informazione_consegna
{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 20px;
	border: 1px solid black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.informazione_prodotto
{
	display:flex;
	width:100%
}

.dettagli_ordine
{
	display:flex;
}

img
{
	height:7vh;
	width: 7vh;
}

@media screen and (max-width:1000px)
{
	
	.title
	{
		width:90%;
	}
	
	div.prodotto
	{
		width:90%;
		display:flex;
		flex-direction:column;
		
		
	}
	h2
	{
		font-size:60px;
	}
	
	h3
	{
		font-size:50px;
	}
	
	p
	{
		font-size:45px;
	}
	
	.prodotto > h2
	{
		font-size:45px;
	}
	
	button
	{
		font-size:45px;
		padding:5px;
	}
}