@charset "ISO-8859-1";

*
{
	padding:0;
	margin:0;
}

body
{
	height:100%;
	width:100%;
}

.page
{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
}

form
{
	display:flex;
	flex-direction:column;
	justify-content:center;	
	align-items:center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
  padding-top:30px;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;

  transition: 0.3s;
  pointer-events: none;
  color:black;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: black;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: black;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-18px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.custom-button {
	display: inline-block;
    background-color: white;
            color: #333;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
        }

        /* Stile quando si passa sopra il tasto */
        .custom-button:hover {
            background-color: #f1f1f1;
        }

        /* Stile quando si clicca sul tasto */
        .custom-button:active {
            background-color: #ddd;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        }

h3
{
	margin-top:30px;	
}   
  
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  margin-top:15px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}
        
input[type=submit]
{
	margin-top:40px;
}