@charset "ISO-8859-1";

*{
	padding: 0%;
	margin: 0%;
	font-family: Calibri;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
  	flex-direction: column;
  	border: 1px solid black;
  	border-radius: 35px;
  	box-shadow: 2px 2px 3px;
}

.rowUp {
  	display: flex;
  	margin-left: 30px;
  	margin-right: 30px;
  	
}

.rowDown{
	border-top: 1px solid black;
	margin-top: 3px;
	margin-bottom: 5px;
}

.columLeft {
	display: flex;
	justify-content: center;	
  	flex: 1;  	  
}

.columRight {
  	flex: 1;
} 

.buttons{
	display: flex;
	justify-content: center;
}

.addToCart{
	display: flex;
	justify-content: center;
	margin-top: 7%;
	border-radius: 16px;
	background-color: #A3A3A3;
	color: white;
	padding: 8px 25px;
	border: none;
	text-decoration: none;
	font-size: 16px;
}

.addToCart:hover{
	background-color: #B3B3B3;
}

.description{
	margin-top: 7px;
}

.details{
	list-style-type: none;
}

.moreProducts{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input[type=number]{
	width: 50px;
}

.product_img{
	width: 300px;
	margin-left: 5%	
}

.moreProducts{
	margin-top: 1%;
	margin-bottom: 1%;	
}

.card{		
	background-color: #e9e9ed;
	text-align: center;
	padding: 2%;
	margin: 1%;
	border: 1px solid #c1c1c1;
	border-radius: 15px;
	width: 20%;	
}


.mpRow{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.mpCardBorder{
	display: flex;
	justify-content: center;
	background-color: #e9e9ed;
	width: 10vw;
	border: 1px solid #1c1c1c;
	border-radius: 15px;
	padding: 0px;
	
	margin-left: 3px;
}

.mpCardContent{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.mpProductCard{			
	text-align: center;
	width: 100%;
	border: none;
	border-radius: 15px;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.mpProductImg{
	width: 80%;
	height: 80%;
}
