*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
.return > a {
	display:flex;
	justify-content:center;
	width: 100%;
}
:root{
	--bg-color: #222327
	--text-color: #fff;
	--main-color: #29fd53
}